.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* table, td, th {
  border: 1px solid;
  
}

table{
  border-collapse: collapse;
  margin-top: 20px;
  width: 510px;
}
td{
  padding: 8px;
}
form{
  display: flex;
  flex-direction: column;
}
form > input{
  max-width: 200px;
  margin-bottom: 2px;
}
form > button{
  max-width: 100px;
}

button.btn-choose-page.active{
  background-color: green;
}
button.btn-choose-page{
  padding: 4px 8px 4px 8px;
  min-width: 34px;
  border: 1px solid;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
span.btn-choose-page{
  padding: 1px 8px 4px 8px;
  max-height: 26px;
}
div.btn-row{
  margin-top: 4px;
  display: flex;
}
div.btn-row-gen{
  display: flex;
  justify-content: space-between;
  width: 510px;
}
div.right-row{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} */


table, td, th {
  border: 1px solid;
  
}
td{
  max-width: 46px;
  width: 46px;
  height: 46px;
  text-align: center;
}
table{
  border-collapse: collapse;
  margin: 20px 0 0 20px;
  width: 510px;
}
.bomb{
  /* background-color: rgb(73, 73, 73); */
  background-image: url("img/bomb.png");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
}
.flag{
  background-image: url("img/flag.png");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: center;
}
.clear{
  background-color: grey;
}
/* form{
  display: flex;
  flex-direction: column;
} */